body {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
}

div {
    background-color: rgb(236, 236, 236);
    border: 2px solid black;
    box-shadow: 7px 7px 15px #0a0502;
    width: 40%;
    height: 50%;
    position:absolute;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    color: black;
    font-size: 200%;
}
label {
    font-weight: bold;
}

input[type="submit"]{
    width: 15%;
}

input[type="submit"]:hover{
    background: #ffffff;
}